.erreur{
    color : red;
}
body{
    
    background-color: papayawhip;
}
/*CSS de la barre de menu*/
.menu{
    display : grid;
    grid-gap: 40 px;
    grid-template-areas:
    "Title home1 home2 space home3";
    grid-template-columns: 2fr 1fr 1fr 2fr 1fr;
    
    

}
.menu h1{
    grid-area: Title;
    text-align: center;
    border-radius: 50%;
    color : rgba(143, 9, 143, 0.842);
    background-color : palegoldenrod;

}
div{
    

}
div.menu a{
    text-align: center;
    color : rgba(143, 9, 143, 0.842);
    background-color : palegoldenrod;
}
.menu a#1{
    grid-area : home1;
    border-radius: 10%;
}
.menu a#2{
    grid-area : home2;
}
.menu a#3{
    grid-area : home3;
}
/*CSS pour les formulaire*/


